-@ import val r:(String,String,String,String)
p
  table(border="1" cellspacing="2" cellpadding="1")
    tr
      th ID Number
      td = r._1
    tr
      th Name
      td = r._2
    tr
      th Test Date
      td 20 Jun 2021
p
  table(border="1" cellspacing="2" cellpadding="1")
    tr
      th
      th Score
      th Rank
      th Number of Applicants
    tr
      th Quantitative
      td {{s}}
      td {{r}}
      td 555
    tr
      th Verbal
      td {{s}}
      td {{r}}
      td 555
    tr
      th Equally Weighted
      td {{s}}
      td {{r}}
      td 555
